.Navbar {
    height: 3em;
    background-color: white;
    
    position: sticky;
    top: 0;

    .wasserstoffLogo {
        height: 2.5vw;
        margin-left: 2.3em;
    }

    .logo-text {
        font-family: 'Inter', sans-serif;
        font-size: 0.75rem;

        position: relative;
        top: 2px;
    }


    .search {
        background-color: #EEF0FC;
        height: 1.5em;
        margin-right: -4%;
        border-radius: 7px;

        input {
            width: 27vw;
            border: none;
            background-color: transparent;
        }
    }

    .nav-items {
        height: 100%;
        align-items: center;

        a {
            text-decoration: none;
            font-size: 0.9rem;
            padding: 3% 1%;
        }
    
        .active {
            color: black;
            font-weight: 500;
            border-bottom: 4px solid blue;
        }
    }


    .settingIcon {
        width: 1.3em;
    }

}