.Navbar {
    height: 3em;
    background-color: white;
    position: sticky;
    top: 0;
}

.Navbar .bewakoofLogo {
    height: 1.8vw;
    margin-left: 2.3em;
}

.Navbar .logo-text {
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    position: relative;
    top: 2px;
}

.search {
    background-color: #EEF0FC;
    height: 1.5em;
    margin-right: -4%;
    border-radius: 7px;
}

.search input {
    width: 27vw;
    border: none;
    background-color: transparent;
}

.search-box {
    font-size: 0.75rem; /* Small text size */
    padding: 5px; /* Padding for the input box */
    height: 2em; /* Set the desired height */
    vertical-align: middle; /* Vertically center the text */
}


.search-box:focus{
    outline: none;
}

.Navbar .nav-items {
    height: 100%;
    align-items: center;
}

.Navbar .nav-items a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 3% 1%;
}

.Navbar .nav-items .active {
    color: black;
    font-weight: 500;
    border-bottom: 4px solid blue;
}

.Navbar .settingIcon {
    width: 1.3em;
}



/* responsiveness */
.search-resp{
    display: none !important;
    width: fit-content;
    margin: 0 auto;
    /* margin-left: auto; */
}

@media (max-width: 1200px) {
    .search{
        display: none !important;
    }
    .search-resp{
        display: block !important;
        height: fit-content;
    }

    .search-resp .search-box{
        width: 23rem;
        font-size: 1rem; /* Small text size */
        padding: 5px; /* Padding for the input box */
        /* height: 2.5em; /* Set the desired height */
        vertical-align: middle; /* Vertically center the text */
    }

    .Navbar .bewakoofLogo {
        height: 2.3vw;
        margin-left: 2.3em;
    }
}
@media (max-width: 680px) {
    .nav-items{
        display: none !important;
    }
    .search-resp .search-box{
        width: 80vw;
    }
    .Navbar .bewakoofLogo {
        height: 5vw;
        margin-left: 1em;
    }
}