.link-style {
  text-decoration: none;
  color: inherit;
}

.c-pointer{
  cursor: pointer;
}


/*  Products.js  */
.products-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  row-gap: 0.8rem;
  column-gap: 0.5rem;

  overflow-y: scroll;

}

/*  Select CSS  */
.products-container{
  position: relative;
  height: 90vh;
}

/*  ProductCard.js  */
.product-card {
  width: 18rem !important;
  aspect-ratio: 3/4.3;
  /* filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.05)); */
}

.product-card-img-top {
  aspect-ratio: 3/4.3;
}

/*  ProductItem.js  */
.product-item-img {
  width: 20rem;
}


/* Limit text to one line and add ellipsis */
.single-line-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
}


.overlay-rating {
  position: absolute;
  top: 65%;

  background-color: aliceblue;
  padding: 0 0.6rem;
  border-radius: 0px 4px 4px 0px;
}


.high-price {
  text-decoration: line-through;
  color: #bebebe;
}

/* product-item */
.product-item-container img,
.product-item-container > div {
  width: 30%;
}

.product-item-container img {
  /* position: sticky; */
  height: fit-content;
}

/* product-item-details */
.product-item-details .title {
  color: #5f5f5f;
}
.product-item-details .description {
  color: #8b8b8b;
  font-size: 1.1rem;
}
.product-item-details .rating {
  background-color: rgb(216, 216, 216);
  padding: 0.3rem 0.6rem 0.4rem 0.4rem;
  border: 1px solid black;
}


/* ------ */
.product-categories-resp-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
}

.category-flex-item {
  width: calc(50% - 10px); /* Adjust the width as needed */
  padding: 10px;
  box-sizing: border-box;
}


/* --- responsiveness --- */
.options-resp{
  display: none;
}


@media (max-width: 1200px) {
  .product-categories{
    display: none;
  }

  .filters{
    display: none !important;
  }

  .product-categories-resp{
    display: block;
  }


  .options-resp{
    display: block;
  }
}

@media (max-width: 920px) {
  .products-grid {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 610px) {
  .products-grid {
    display: grid;
    grid-template-columns: auto;
  }
}




.options-container { 
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.filter-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;


  /* max-width: 80vw; */
  margin: 0 auto;
}